:root {
    --bg-color: #3f2434;
    --wrapper-width: 50rem;
    --heading-font: 'Rubik', sans-serif;
    --body-font: 'Nunito Sans', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #d2dad6;
    font-family: var(--body-font);
    text-align: center;
    font-weight: 300;
    min-height: 40rem;
}


h1 {
    font-family: var(--heading-font);
    font-size: clamp(2.3rem, 5vw, 2.7rem);
    text-shadow: 4px 4px #090808;
}

h2 {
    font-family: var(--heading-font);
    text-shadow: 1px 1px #090808;
}



a {
    color: white;
    text-decoration: none;
}

input {
    border-radius: 5px;
}

.wrapper {
    max-width: var(--wrapper-width);
    margin: 0 auto;
}

section {
    max-height: 100vh;
    min-height: 40rem;
    color: #d618ad;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    background-image: url(../Images/building.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



#login-section {

    div {
        font-size: 1.5rem;
        font-weight: 700;
        font-family: var(--heading-font);
        color: #d618ad;
        text-shadow: 2px 2px #090808;
    }
    input {
        text-align: center;
        padding: .2rem .5rem;
        font-size: 1.5rem;
        width: 8rem;
        box-shadow: 0px 0px 8px 5px #151414;
    }
}



.btn {
    font-weight: 300;
    font-family: var(--heading-font);
    padding: .5rem 1rem;
    font-size: 1rem;
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: #d618ad;
    font-family: var(--heading-font);
    &:hover {
        color: white;
        background-color:  orangered;
        cursor: pointer;
    }
}


.option-section-inner-div-items {
    color: white;
    padding: 1rem 1.5rem ;
    width: 10rem;
    border-radius: 7px;
    background-color:  #d618ad;
    box-shadow: 0px 0px 8px 0px #77245c;
    border: none;
    font-family: var(--heading-font); 
    &:hover {
        background-color: #77245c;
        cursor: pointer;
    }
}

.amount {
    text-align: center;
    padding: .2rem .5rem;
    font-size: 1.5rem;
    width: 12rem;
    box-shadow: 0px 0px 8px 0px #888888;
}

.yes-or-no button {
    padding: .5rem 1rem;
    appearance: none;
    margin-left: 2rem;
    font-family: var(--heading-font);
    font-weight: 700;
    cursor: pointer;
    &:first-of-type {
        background-color: lime;
    }
    &:nth-child(2) {
        background-color: #ff0000;
    }
}

#option-section, 
#withdrawal-section, 
#Transfer-section,
#balance-section, 
#topup-section,
#final-output,
#appreciation-section {
    display: none;
}


.available-balance {
    font-size: 1.8rem;
    font-family: var(--heading-font);
    font-weight: 700;
}

#hidden-message {
    display: none;
}